<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Appenders>
       <!-- <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p %c{1} - %m%n"/>
        </Console>-->
       
        <!--<File name="audit-appender" fileName="/var/log/bastillion-audit.log" append="true">
            <PatternLayout pattern="%d %-5p %c{1} - %m%n"/>
        </File>
        <File name="login-appender" fileName="/var/log/bastillion-login.log" append="true">
           <PatternLayout pattern="%d %-5p %c{1} - %m%n"/>
        </File>-->
        <Syslog name="login-RFC5424" format="RFC5424" host="localhost" port="514"
                protocol="UDP" appName="bastillion" mdcId="mdc" includeMDC="true"
                facility="AUTH" enterpriseNumber="18060" newLine="true"
                messageId="Audit" id="App"/>
        <Syslog name="audit-RFC5424" format="RFC5424" host="localhost" port="514"
                protocol="UDP" appName="bastillion" mdcId="mdc" includeMDC="true"
                facility="AUTH" enterpriseNumber="18060" newLine="true"
                messageId="Audit" id="App"/>
       
    </Appenders>


    <Loggers>
        
        <!--<Logger name="io.bastillion.manage.util.SystemAudit" level="info" additivity="false">
            <AppenderRef ref="audit-appender"/>
        </Logger>
        <Logger name="io.bastillion.manage.control.LoginAudit" level="info" additivity="false">
            <AppenderRef ref="login-appender"/>
        </Logger>-->
        <Logger name="login-sysLogger" level="info" additivity="false">
            <AppenderRef ref="login-RFC5424"/>
        </Logger>
        <Logger name="audit-sysLogger" level="info" additivity="false">
            <AppenderRef ref="audit-RFC5424"/>
        </Logger>
        <!--
        <Logger name="io.bastillion.manage.control.LoginAudit" level="info" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        -->
        <Root level="info">
            <AppenderRef ref="login-RFC5424"/>
            <AppenderRef ref="audit-RFC5424"/>
        </Root>
    </Loggers>

</Configuration>
